name: {{ var "NOMAD_ALLOC_ID" }}
{{ if var "TAGS" }}tags:{{ range var "TAGS" | split "," }}
  - "{{ . }}"{{ end }}{{ end }}
filebeat:
  registry:
    path: {{ var "NOMAD_TASK_DIR" }}/.filebeat
  inputs:
    - type: log
      {{ if var "ENABLE_JSON" }}json:
        keys_under_root: true
        overwrite_keys: true
        {{ if var "ADD_JSON_ERROR_KEY" }}add_error_key: true{{ end }}
        {{ if var "JSON_MESSAGE_KEY" }}message_key: {{ var "JSON_MESSAGE_KEY" }}{{ end }}{{ end }}
      paths:
        - {{ var "NOMAD_ALLOC_DIR" }}/logs/*.stdout.*
      exclude_files:
        - {{ var "NOMAD_TASK_NAME" }}
      fields_under_root: true
      fields:
        stream: stdout
        job_name: {{ var "NOMAD_JOB_NAME" }}
        task_group: {{ var "NOMAD_GROUP_NAME" }}
        allocation_id: {{ var "NOMAD_ALLOC_ID" }}
        device_id: {{ var "DEVICE_ID" }}
        {{ if var "ENVIRONMENT" }}environment: {{ var "ENVIRONMENT" }}{{ else }}#environment:{{ end }}
        {{ if $meta_vars }}nomad:
          meta:{{ range $meta_vars | split "," }}
            {{ if var . }}{{ . | replace "NOMAD_META_" "" | lower }}: {{ var . }}{{ end }}{{ end }}{{ end }}
    {{ if var "AMP_FARM" }}
    - type: log
      {{ if var "ENABLE_JSON" }}json:
      keys_under_root: true
      overwrite_keys: true
      {{ if var "ADD_JSON_ERROR_KEY" }}add_error_key: true{{ end }}
      {{ if var "JSON_MESSAGE_KEY" }}message_key: {{ var "JSON_MESSAGE_KEY" }}{{ end }}{{ end }}
      paths:
        - {{ var "NOMAD_ALLOC_DIR" }}/logs/umd/*
      exclude_files:
        - {{ var "NOMAD_TASK_NAME" }}
      fields_under_root: true
      fields:
        device_id: {{ var "DEVICE_ID" }}
        stream: umd_logs
        job_name: {{ var "NOMAD_JOB_NAME" }}
        task_group: {{ var "NOMAD_GROUP_NAME" }}
        allocation_id: {{ var "NOMAD_ALLOC_ID" }}
        {{ if var "ENVIRONMENT" }}environment: {{ var "ENVIRONMENT" }}{{ else }}#environment:{{ end }}
        {{ if $meta_vars }}nomad:
          meta:{{ range $meta_vars | split "," }}
            {{ if var . }}{{ . | replace "NOMAD_META_" "" | lower }}: {{ var . }}{{ end }}{{ end }}{{ end }}
    {{ end }} 
    {{ if var "CLI_SESSION" }}
    - type: log
      {{ if var "ENABLE_JSON" }}json:
      keys_under_root: true
      overwrite_keys: true
      {{ if var "ADD_JSON_ERROR_KEY" }}add_error_key: true{{ end }}
      {{ if var "JSON_MESSAGE_KEY" }}message_key: {{ var "JSON_MESSAGE_KEY" }}{{ end }}{{ end }}
      paths:
        - {{ var "NOMAD_ALLOC_DIR" }}/logs/cli_session_script*
      exclude_files:
        - {{ var "NOMAD_TASK_NAME" }}
      fields_under_root: true
      fields:
        stream: cli_session_script
        device_id: {{ var "DEVICE_ID" }}
        job_name: {{ var "NOMAD_JOB_NAME" }}
        task_group: {{ var "NOMAD_GROUP_NAME" }}
        allocation_id: {{ var "NOMAD_ALLOC_ID" }}
        {{ if var "ENVIRONMENT" }}environment: {{ var "ENVIRONMENT" }}{{ else }}#environment:{{ end }}
        {{ if $meta_vars }}nomad:
          meta:{{ range $meta_vars | split "," }}
            {{ if var . }}{{ . | replace "NOMAD_META_" "" | lower }}: {{ var . }}{{ end }}{{ end }}{{ end }}
    {{ end }} 
    - type: log
      {{ if var "ENABLE_JSON" }}json:
      keys_under_root: true
      overwrite_keys: true
      {{ if var "ADD_JSON_ERROR_KEY" }}add_error_key: true{{ end }}
      {{ if var "JSON_MESSAGE_KEY" }}message_key: {{ var "JSON_MESSAGE_KEY" }}{{ end }}{{ end }}
      paths:
        - {{ var "NOMAD_ALLOC_DIR" }}/logs/*.stderr.*
      exclude_files:
        - {{ var "NOMAD_TASK_NAME" }}
      fields_under_root: true
      fields:
        stream: stderr
        device_id: {{ var "DEVICE_ID" }}
        job_name: {{ var "NOMAD_JOB_NAME" }}
        task_group: {{ var "NOMAD_GROUP_NAME" }}
        allocation_id: {{ var "NOMAD_ALLOC_ID" }}
        type: log
        {{ if var "ENVIRONMENT" }}environment: {{ var "ENVIRONMENT" }}{{ else }}#environment:{{ end }}
        {{ if $meta_vars }}nomad:
          meta:{{ range $meta_vars | split "," }}
            {{ if var . }}{{ . | replace "NOMAD_META_" "" | lower }}: {{ var . }}{{ end }}{{ end }}{{ end }}
output:
{{ if var "ES_HOST" }}  elasticsearch:
    hosts:{{ range var "ES_HOST" | split "," }}
      - "{{ . }}"{{ end }}
    username: {{ var "ES_USERNAME" | default "~" }}
    password: {{ var "ES_PASSWORD" | default "~" }}{{ end }}
logging:
  level: info
  to_files: false
  to_syslog: false
